<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.4.5.724" targetFramework="net40" />
  <package id="NGenerics" version="1.4.1.0" targetFramework="net40" />
  <package id="NGenerics.UI" version="1.4.1.0" targetFramework="net40" />
  <package id="QuickGraph" version="3.3.51106.0" targetFramework="net40" />
</packages>